<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.testpl.Dao.mapper.ApiDefinitionEntityMapper">
  <resultMap id="BaseResultMap" type="com.test.testpl.Dao.entity.ApiDefinitionEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="headers" jdbcType="VARCHAR" property="headers" />
    <result column="requestBody" jdbcType="VARCHAR" property="requestBody" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, domain, url, method, headers, requestBody
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apidefinition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findApi"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from apidefinition
    where method = #{method,jdbcType=VARCHAR} and domain = #{domain,jdbcType=VARCHAR} and url = #{url,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apidefinition
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.test.testpl.Dao.entity.ApiDefinitionEntity" >
    <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apidefinition (id, name, domain, 
      url, method, headers, 
      requestBody)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{headers,jdbcType=VARCHAR}, 
      #{requestBody,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.test.testpl.Dao.entity.ApiDefinitionEntity" useGeneratedKeys="true" keyProperty="id">
    insert into apidefinition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="headers != null">
        headers,
      </if>
      <if test="requestBody != null">
        requestBody,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="headers != null">
        #{headers,jdbcType=VARCHAR},
      </if>
      <if test="requestBody != null">
        #{requestBody,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.testpl.Dao.entity.ApiDefinitionEntity">
    update apidefinition
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="headers != null">
        headers = #{headers,jdbcType=VARCHAR},
      </if>
      <if test="requestBody != null">
        requestBody = #{requestBody,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.testpl.Dao.entity.ApiDefinitionEntity">
    update apidefinition
    set name = #{name,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      headers = #{headers,jdbcType=VARCHAR},
      requestBody = #{requestBody,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>